.popup-overlay {
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
	background: silver;
	border: 3px solid #666666;
	width: 70%;
	height: 80%;
	top: 10%;
	left: 14%;
	display: none;
}

#popup {
	position: relative;
}

.popup-overlay.active {
	visibility: visible;
	text-align: center;
}

.popup-content {
	visibility: hidden;
}

.popup-content.active {
	visibility: visible;
}

#popUpWindow {
	margin: 10% 15% 10% 15%;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.close {
	color: black;
	float: right;
	font-size: 30px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#close {
	position: fixed;
	top: 13%;
	right: 19%;
	cursor: pointer;
	color: black;
}
